.table {
  td {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  tbody {
    tr {
      border-bottom: 1px solid #F0F0F0;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  td {
    position: relative;
  }

  .td-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
